
@{
    ViewData["Title"] = "GetSession";
    Employee emp = ViewBag.employee;
}

<h1>GetSession</h1>

@ViewBag.message
<br />
@ViewBag.count
<br />
@ViewBag.date
<hr />
@emp.EmployeeId
<br />
@emp.EmployeeName
<br />
@emp.EmployeeSal